body {
    font-size: 13px !important;
}
.highlight {
    padding: 1rem 0;
}

.highlight pre {
    overflow: hidden;
    margin-bottom: 0;
    background-color: #ececec;
    font-size: 11px;
    font-family: monospace !important;
    padding: 5px;
    max-height: 400px;
    overflow-y: scroll;
}

.dataTable tr {
    cursor: pointer;
}

.dataTable tbody tr.row_selected {
    background-color: rgba(123, 167, 61, 0.5) !important;
    /*background-color: rgba(0,0,0,.5) !important;*/
}